.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background-color: black;
}

.title {
  font-family: 'Bebas Neue', cursive;
  font-size: 15rem;
  color: #e50914;
  // animation: title 2s linear forwards;
}

.image {
  width: 64px;
  height: 64px;
  filter: invert(1);
}

@keyframes title {
  0% {
    font-size: 15rem; 
  }

  100% {
    font-size: 20rem;
  }
}
